* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 10px auto;
}
header{
    margin-top: 20px;
    padding: 15px;
    background-color: gray;
    color: white;
    width: 100%;
    text-align: center;
}
input {
    padding: 5px 3px;
    width: 100%;
    margin-right: 10px;
    /* border: none; */
}
.form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 5px 3px;
    background-color: green;
    color: white;
    border: 1px solid green;
}
.box-container {
    width: 100%;
}
div > .content {
    margin: 10px 0;
}
.content {
    border-left: 4px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content p {
    margin-left: 10px;
}
.box-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-edit {
    background-color: gray;
    padding: 5px;
}
.btn-trash {
    background-color: red;
    padding: 5px;
}